.container {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
}

.filters {
  color: #fff;
  width: 100%;
  border: 1px solid #ddd;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15pxs;
  /* align-self: ;  */
}

button {
  font-size: 18px;
  background-color: #ff5a5f;
  color: #ffffff;
  height: 48px;
  width: 20%;
  border: none;
  border-radius: 4px;
  /* margin-right: 30px; */
  margin-left: 40px;
  text-align: center;
}

.filters button:hover {
  opacity: 90%;
}
/* border right #DDDDDD 1px only for the first left filter .*/
.locations {
  color: black;
  height: 100%;
  width: 25%;
  /* border-right: 1px solid #ddd; */
  border-right: 2px solid #ddd;

  align-self: flex-end;
  margin-right: 0;
}

.amenities {
  margin-left: 40px;
  /* margin-left: 100px; */
  color: black;
  height: 100%;
  /* background-color: green; */
  font-weight: 600;
  width: 25%;
  align-self: center;
}

.title {
  margin-bottom: 0;
  /* margin-left: 15%; */
  text-align: left;
  font-weight: 600;
}

.sub-title {
  margin-top: 0;
  /* margin-left: 15%; */
  text-align: left;
  font-size: 14px;
  font-weight: 400;
}
.layout {
  display: flex;
  gap: 40px;
  margin: 0 au;
  justify-content: space-around;
}
